<p id="notice"><%= notice %></p>

<p>
  <b>Poster:</b>
  <%= @item.poster %>
</p>

<p>
  <%= image_tag(@item.poster, :size => "150x100") %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Equipmenttype:</b>
  <%= @item.equipmenttype_id %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @item.manufacturer %>
</p>

<h2>Please review your equipment type: </h2>
	<%= form_for([@item, Post.new]) do |f| %>
		<%= f.text_area :content, :rows => 3 %>
			<div class="actions">
			<%= f.submit "Post a Comment" %>
		</div>
	<% end %>

	<% if @item.posts.empty? %>
    <h3>You are the first  to comment </h3>
<% else %>
 <h2>What others felt about this:</h2>
  <% @item.posts.reverse.each do |post| %>
	<p><%= post.content %>
         Posted <%= time_ago_in_words(post.created_at) %> ago by
		 <%= post.user.name %></p>
   <% end %>
<% end %>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
