<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @equipmenttype.name %>
</p>
<p>
  <%= image_tag(@item.poster, :size => "150x100") %>
</p>

<%= link_to 'Edit', edit_equipmenttype_path(@equipmenttype) %> |
<%= link_to 'Back', equipmenttypes_path %>
