<!DOCTYPE html>
<html>
<head>
  <title>Equipmentapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
<%= image_tag("gaa1.jpg", :size => "1300x250", ) %>
    GAA
</div>

<div id="nav">
    <ul>
		
		<% if !signed_in? %>
			<li><%= link_to "Sign in", signin_path %></li>
		<% else %>
			<li>Signed in as <%= @current_user.name %></li>
			<li><%= link_to "Sign out", signout_path %></li>
		<% end %>

	  <li><%= link_to "Home page", 'http://localhost:3000/' %></li>
      <li><%= link_to "Shop", items_path %></li>
      <li><%= link_to "View Your Basket" %></li>
	  <li><%= link_to "Create User", new_user_path %></li>
	  <li><%= link_to "Equipment types", equipmenttypes_path %></li>
	  
    </ul>
</div>
<body>

<div align = "middle">

<h1>Welcome to your gaa merchandise store!</h1>
<li><%= link_to "My Git Account", '' %></li>
<p><b>Name: </b>Ciara Merrins(C12349341)</p>
<p><b>Application Name: </b>equipmentapp</p>
<%= image_tag("gaa.jpg", :size => "100*50") %>
</div>







<%= yield %>

</body>
</html>
